# Core
pydantic
pandas
pytest
python-dotenv
setuptools
tabulate

# Project-specific
# ../model/dist/model-0.1.0-py3-none-any.whl
# ../services/dist/services-0.1.0-py3-none-any.whl

-e ../model
-e ../services

# Fast API
fastapi
uvicorn
python-multipart

# Azure
python-multipart
identity>=0.5.1,<0.6
itsdangerous
azure-identity>=1.15.0
azure-keyvault-secrets>=4.7.0