# Core
pydantic
pandas
pytest
python-dotenv
setuptools
tabulate

# Project-specific
# ../model/dist/model-0.1.0-py3-none-any.whl
# ../services/dist/services-0.1.0-py3-none-any.whl

-e ../model
-e ../services

# Fast API
fastapi
uvicorn
python-multipart